<!DOCTYPE html>
<html lang="en">

<head>
{% load staticfiles %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{type}}</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="{% static 'youthPlatform/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'youthPlatform/css/style.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'youthPlatform/css/freelancer.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">
	<!-- Navigation -->
    <nav class="navbar navbar-default ">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                
                <h1><a class="brand" href="{% url 'index' %}">KARMATHALO</a></h1>
            </div>

            
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="row">
        <div class="col-md-12">
            <div class="navbar searchbar">
            {% ifequal type "trainings" %}
                <form method="get" action="{% url 'trainings' %}">
            {% endifequal %}
            {% ifequal type "ideas" %}
                <form method="get" action="{% url 'ideas' %}">
            {% endifequal %}
            {% ifequal type "jobs" %}
                <form method="get" action="{% url 'jobs' %}">
            {% endifequal %}

                    <input class="search-textbox" type="text" name="query" />
                    <button class="search-button"><span class="glyphicon glyphicon-search"></span></button> <span class="greeting"> </span>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3 class="search-header">{{heading}}</h3> 
        </div>
        <div class="col-md-2"></div>
    </div>

<br/>

{% if error %}
<span class="message"><h2>{{error}}</span><br/>
{% else %}

<section id="portfolio">
        <div class="container boxes">
                <div class="row">
                    {% for x in results %}
                     <div class="col-sm-4 portfolio-item">
                      <a href="">
                      <button class="search-button result">
                        {% ifequal type "trainings" %}
                        <span class="result-title"><h4>{{x.institutionName}}</h4></span><br>
                        {% endifequal %}
                        {% ifequal type "ideas" %}
                        <span class="result-title"><h4>{{x.title}}</h4></span><br>
                        {% endifequal %}
                        <span class="result-short"><h6>{{x.description}}<h6></span>
                     </button>
                     </a>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- pagination -->
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                    {% ifequal type "trainings" %}
                    {% if results.has_previous %}
                        <a href="{% url 'trainings' %}?page={{results.previous_page_number}}" class="paginator">Previous</a>
                    {% endif %}
                    </div>
                    <div class="col-sm-6"></div>
                    <div class="col-sm-3">
                    {% if results.has_next %}
                        <a href="{% url 'trainings' %}?page={{results.next_page_number}}" class="paginator">Next</a>
                    {% endif %}
                    {% endifequal %}
                    
                    {% ifequal type "ideas" %}
                    {% if results.has_previous %}
                        <a href="{% url 'ideas' %}?page={{results.previous_page_number}}" class="paginator">Previous</a>
                    {% endif %}
                    </div>
                    <div class="col-sm-6"></div>
                    <div class="col-sm-3">
                    {% if results.has_next%}
                        <a href="{% url 'ideas' %}?page={{results.next_page_number}}" class="paginator">Next</a>
                    {% endif %}
                    {% endifequal %}
                    
                    {% ifequal type "jobs" %}
                    {% if results.has_previous %}
                        <a href="{% url 'jobs' %}?page={{results.previous_page_number}}" class="paginator">Previous</a>
                    {% endif %}
                    </div>
                    <div class="col-sm-6"></div>
                    <div class="col-sm-3">
                    {% if results.has_next%}
                        <a href="{% url 'jobs' %}?page={{results.next_page_number}}" class="paginator">Next</a>
                    {% endif %}
                    {% endifequal %}


                    </div>
                </div>
            </div>
{% endif %}

</body>
</html>
